<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Arahk.ClearPath.WebApp.styles.css"]"/>
    
    <link rel="stylesheet" href="@Assets["/assets/fontawesome/css/fontawesome.css"]" />
    <link rel="stylesheet" href="@Assets["/assets/fontawesome/css/brands.css"]" />
    <link rel="stylesheet" href="@Assets["/assets/fontawesome/css/solid.css"]" />
    
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes />
<script src="_framework/blazor.web.js"></script>


</body>

</html>